@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.music-page-bg-container {
    background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
    height: 100vh;
    background-size: cover;
}

.music-header-bg-container {
    height: 40vh;
    padding: 30px;
}

.music-heading {
    color: #ffffff;
    font-size: 52px;
    font-family: "bree Serif";
}

.music-description {
    color: #ffffff;
    font-size: 24px;
    font-weight: 200;
    font-family: "bree Serif";
}

.night-island-card {
    padding: 30px;
}

.night-island-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
    height: 23vh;
    margin-bottom: 5px;
    background-size: cover;
}

.night-island-card-heading {
    color: #ffe7bf;
    font-family: "Bree Serif";
    font-size: 32px;
}


.button {
    color: #ffffff;
    background-color: #8e97fd;
    font-family: "Bree Serif";
    font-size: 22px;
    padding: 12px;
    border-radius: 32px;
    border-width: 0px;
}


.music-details-bg-container {
    background-color: #03174c;
}

.music-details-container {
    padding: 20px;
}


.clouds-img {
    width: 80vw;
    margin: 32px;
}

.music-details-text {
    color: #98a1bd;
    font-family: "Bree Serif";
    font-size: 24px;
}

.related-music-heading {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 34px;
}

.related-music-card {
    margin-right: 10px;
}

.related-music-name {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 24px;
}

.music-details-header-image {
    width: 40vw;
}

.related-music-image {
    width: 40vw;
    margin-bottom: 3px;
}
